header {
    background-color: @nav-background-color;
    padding: 0 24px;
    box-shadow: @nav-boxshadow;

    @media @phone {
        padding: 0;
    }

    nav{
        .flex(row, flex-start, flex-end);
        min-height: 64px;
        font-size: 1.5rem;

        @media @tablet {
            .flex(column, center, center);
        }

        @media @phone {
            .flex(column, center, center);
            text-align: center;
        }

        .logo-text {
            width: 15.5rem;
            font-size: 2.5rem;
            padding: 2rem 0;

            @media @tablet {
                width: 100%;
            }

            @media @phone {
                width: 100%;
            }

            a {
                text-transform: unset;
                border: none;
                color: white;

                @media @phone {
                    width: 100%;
                }

                &:hover {
                    border: none;
                }
            }
        }

        a {
            text-decoration: none;
            font-family: @header-font-style;
        }

        .nav-links {
            .flex(row, space-between, flex-end);
            width: 95%;

            @media @tablet {
                width: 100%;
            }

            @media @phone {
                .flex(column, center, center);
                width: 100%;
            }
            
            a {
                color: @nav-link-color;
                padding: 2rem 1.2rem;
                text-transform: uppercase;

                @media @phone {
                    width: 100%;
                    border-top: .1rem solid white;
                }

                &:hover {
                    border-bottom: .2rem solid white;
                    padding: 1.8rem 1.2rem;

                    @media @phone {
                        border-top: .1rem solid white;
                        border-bottom: none;
                    }
                }

                
            }

            #profile-link {
                color: @nav-link-color;
            }

            .selected {
                border-bottom: 2px solid white;
                padding: 1.8rem 1.2rem;

                @media @phone {
                    border-bottom: inherit;
                }
            }
        }
    }
}